@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap:200,300,400,500,600,700,900');

body{
    background-color: rgb(234,136,11); 
    color: rgb(51,47,38);
}

body.logout-button {
    position: fixed;
    right: 20px; 
    margin: 20px;
    z-index: 1;
}

.btn-orange{
    background-color: rgb(234,136,11); 
    color: #fff;
}

.btn-orange:hover{
    background-color: rgba(233, 95, 14, 0.979);
    color: #fff;
}

h1{
    font-size: 75px;
    font-family: 'Georgia';
    color:  rgb(234,136,11);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

h2{
    color: rgb(234,136,11);
}

.sent_message{
    color: rgb(234,136,11);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.container-content{
    color: white;
    border-radius: 10px;
    margin : 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgb(51,47,38);
}

.container-main{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;}


label{
    color: white;
}

.btn-primary{
    background-color: rgb(51,47,38);
    color: rgb(234,136,11);
    border: 2px solid rgb(234,136,11);
    font-size:18px;
    border-radius: 19px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.btn-primary:hover{
    background-color: rgba(233, 95, 14, 0.979);
    outline: none;
}

#name{
    width: 50%;
}

.footer{
    color: white;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px)
{
    .container-main{
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

}